# Place this file in /lib/systemd/system/
# Warning: if using MariaDB (Debian), refer to mariadb.service instead of
# mysql.service, even with the alias in place.

[Unit]
Description=Lumina daemon
After=mysql.service
# OnFailure=luminacrash.service

[Service]
Type=simple
ExecStart=/opt/lumina/lumina_server -f ${INSTALL_PATH}/lumina.conf -p 443 -D ${INSTALL_PATH}/badreqs -l ${INSTALL_PATH}/logs/lumina_server.log -c ${INSTALL_PATH}/lumina.crt -k ${INSTALL_PATH}/lumina.key -L ${INSTALL_PATH}/lumina.lic
User=lumina
#ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
