# Place this file in /lib/systemd/system/

[Unit]
Description=Hex-Rays vault daemon

[Service]
Type=simple
Environment=INSTALL_PATH=/opt/hexvault
ExecStart=/opt/hexvault/vault_server -f ${INSTALL_PATH}/hexvault.conf -l ${INSTALL_PATH}/logs/vault_server.log -c ${INSTALL_PATH}/hexvault.crt -k ${INSTALL_PATH}/hexvault.key -L ${INSTALL_PATH}/hexvault.lic -d ${INSTALL_PATH}/files
User=hexvault

[Install]
WantedBy=multi-user.target
